<nav>
  <div class="nav-inner">
    <div class="brand">
      <img src="assets/img/logo/icon.svg" alt="ColdLab logo">
      <span>Cold Lab</span>
    </div>

    <div class="links">
      <a href="about.html">About</a>
      <a href="research.html">Research</a>
      <a href="publications.html">Publications</a>
      <a href="our_team.html">Our team</a>
      <a href="ccr.html">Cold Case Review</a>
      <a href="community.html">Community&Collab</a>
      <a href="education.html">Education</a>
    </div>
  </div>
</nav>
